.menu{
    margin: 0;
    min-width: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu__header__left{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.round-button{
    height: 35px;
    width: 35px;
    border-radius: 100%;
    background-color: #FF3E79;
    border: none;
}

.round-button img{
    height: 20px;
    width: auto;
}

.menu__main{
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
}

.menu__footer{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}