.body{
    margin: 0;
}



@font-face {
    font-family: TT Lakes;
    src: url("./fonts/TTLakesMedium.ttf");
}

*{
    font-family: TT Lakes; 
}

.menu{
    position: absolute;
    left: -340px;
    top: 0;
    margin: 0;
    transition: all 0.3s;
    min-width: 250px;
    width: 340px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0;
}

.menu-active{
    transition: all .3s;
    transform: translateX(100%);
    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.20), -2px 0px 4px 0px rgba(69, 79, 126, 0.02); 
}

.menu__header{
    margin: 25px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu__header__left{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.round-button{
    transition: all .2s;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: #FF3E79;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.round-button:active{
    transition: all .2s;
    transform: scale(0.95);
    background-color: #ff6191;
}

.round-button--menu{
    z-index: 99;
    position: relative;
    top: 25.5px;
    left: 15px;

}

.logo{
    height: 51px;
    margin-left: 55px;
}

.menu__main{
    margin-top: 20px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 50px);
    height: auto;
}

.navigation-link{
    margin-left: 30px;
    color: #1B1C21;
    
    cursor: pointer;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px; 
    height: max-content;
}

.navigation-link--active{
    color: #7E7E82;
    margin-left: 10px;
    padding-left: 19px;
    border-left: 2px solid #41F6D7;
}


.menu__footer{
    margin: 10px 20px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-buttons{
    display: flex;
    gap: 10px;
}

.mail{
    color: #1B1C21;
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px; 
    transition: all .2s;
}

.mail:hover,
 .phone-number:hover{
    color: #41F6D7;
    transition: all .2s;
 }

.phone-number{
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.6px;
    cursor: pointer;
    transition: all .2s; 
}

.language-settings{
    height: 60px;
}

.language-settings__button:hover{
    color: #FF3E79;
    transition: all .3s;
}

.language-settings__button{
    background-color:transparent;
    border: none;
    font-size: large;
    cursor: pointer;
}